*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
body{

  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-color: #120e0f;

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-box{
  position: relative;
  width: 600px;
  height:700px ;
  border: 2px solid rgba(255, 255, 2550.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90ebf2;
}
.form-box h2{
  color: rgb(82, 5, 250);
  text-align: center;
  font-size: 32px;
}
.form-box .input-box{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.form-box .input-box input{
  width: 100%;
  height: 45px;
  background: transparent;
  outline:none ;
  padding: 0 20px 0 5px;
  color: #1a06f3;
  font-size: 16px;
}
i{
position: absolute;
color: #fff;
top: 13px;
right: 0;

}
.input::placeholder{
  color: #ffffff;

}
.btn{
  color: #fff;
  background-color: blue;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba( 0, 0, 0, .5);

}
.group{
  display: flex;
  justify-content: space-between;
  

}
.group span a{
  color: #fff;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
}
.group  a:focus{
  text-decoration: underline;
}

.placeholder{
  color: blue;
}
#result{
  color: red;
  font-weight: 600;
  position: relative;
  top: 25px;
}
.hi{
  color: blue;
}
.leb{
  color: #4c05fe;
}
.tu{
  color: rgb(237, 237, 18);
}
.logo {
  width: 60px; /* Adjust logo size */
  height: auto;
}

